@import "tailwindcss";
@import "tw-animate-css";
@import "./mediaQueries.css";

@custom-variant dark (&:is(.dark *));

* {
  scrollbar-color: var(--secondary-foreground) transparent;
  scrollbar-width: thin;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.1448 0 0);
  --card: oklch(0.9851 0 0);
  --card-foreground: oklch(0.2435 0 0);
  --popover: oklch(0.9911 0 0);
  --popover-foreground: oklch(0.2435 0 0);
  --primary: oklch(0.7809 0.1691 69.9324);
  --primary-foreground: oklch(0.1822 0 0);
  --secondary: oklch(0.92 0.0651 74.3695);
  --secondary-foreground: oklch(0.3499 0.0685 40.8288);
  --muted: oklch(0.9491 0 0);
  --muted-foreground: oklch(0.5486 0 0);
  --accent: oklch(0.931 0 0);
  --accent-foreground: oklch(0.2435 0 0);
  --destructive: oklch(57.707% 0.21516 27.312);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9401 0 0);
  --input: oklch(0.9006 0 0);
  --ring: oklch(0.7809 0.1691 69.9324);
  --chart-1: oklch(0.7809 0.1691 69.9324);
  --chart-2: oklch(0.92 0.0651 74.3695);
  --chart-3: oklch(0.5486 0 0);
  --chart-4: oklch(0.9367 0.0523 75.5009);
  --chart-5: oklch(0.3485 0 0);
  --sidebar: oklch(0.9851 0 0);
  --sidebar-foreground: oklch(0.252 0 0);
  --sidebar-primary: oklch(0.7809 0.1691 69.9324);
  --sidebar-primary-foreground: oklch(0.1822 0 0);
  --sidebar-accent: oklch(0.9491 0 0);
  --sidebar-accent-foreground: oklch(0.252 0 0);
  --sidebar-border: oklch(0.9189 0 0);
  --sidebar-ring: oklch(0.7809 0.1691 69.9324);
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-convergence), ui-serif, Georgia, Cambria,
    "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --radius: 0.6rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0% 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1286 0 0);
  --foreground: oklch(0.9491 0 0);
  --card: oklch(0.1684 0 0);
  --card-foreground: oklch(0.9491 0 0);
  --popover: oklch(0.209 0 0);
  --popover-foreground: oklch(0.9491 0 0);
  --primary: oklch(0.7809 0.1691 69.9324);
  --primary-foreground: oklch(0.1822 0 0);
  --secondary: oklch(0.32 0.0202 67.0001);
  --secondary-foreground: oklch(0.9292 0.0499 67.1475);
  --muted: oklch(0.252 0 0);
  --muted-foreground: oklch(0.6993 0 0);
  --accent: oklch(0.252 0 0);
  --accent-foreground: oklch(0.9491 0 0);
  --destructive: oklch(57.707% 0.21516 27.312);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.252 0 0);
  --input: oklch(0.3012 0 0);
  --ring: oklch(0.7809 0.1691 69.9324);
  --chart-1: oklch(0.7809 0.1691 69.9324);
  --chart-2: oklch(0.9292 0.0499 67.1475);
  --chart-3: oklch(0.6993 0 0);
  --chart-4: oklch(0.3481 0.0219 67.0001);
  --chart-5: oklch(0.285 0 0);
  --sidebar: oklch(0.1684 0 0);
  --sidebar-foreground: oklch(0.9189 0 0);
  --sidebar-primary: oklch(0.7809 0.1691 69.9324);
  --sidebar-primary-foreground: oklch(0.1822 0 0);
  --sidebar-accent: oklch(0.2308 0 0);
  --sidebar-accent-foreground: oklch(0.9189 0 0);
  --sidebar-border: oklch(0.252 0 0);
  --sidebar-ring: oklch(0.7809 0.1691 69.9324);
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-convergence), ui-serif, Georgia, Cambria,
    "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --radius: 0.6rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-inter: var(--font-inter);
  --font-convergence: var(--font-convergence);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --breakpoint-xs: 475px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1450px;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* globals.css */
.header {
  position: relative;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: var(--background);
  transition: 0.3s all;
  z-index: 30;
}

.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transitions for transform and opacity */
  backdrop-filter: blur(10px); /* Adjust the blur radius as desired */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  background-color: rgba(
    2,
    6,
    23,
    0.914
  ); /* Adjust the background opacity as desired */
  z-index: 30; /* Ensure it is above other content */
}

.sticky-header.visible {
  transform: translateY(0);
  opacity: 1; /* Fade in */
}

/* Animation for sliding down */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Initial absolute positioning for the header */
.header {
  position: relative;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px); /* Adjust the blur radius as desired */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  background-color: rgba(
    2,
    6,
    23,
    0.914
  ); /* Adjust the background opacity as desired */
  transition: 0.3s all;
  z-index: 30; /* Ensure it is above other content */
}

/* Sticky header styles */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  animation: slideDown 0.5s ease;
  backdrop-filter: blur(10px); /* Adjust the blur radius as desired */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  background-color: rgba(
    2,
    6,
    23,
    0.914
  ); /* Adjust the background opacity as desired */
  transition: 0.3s all;
}

/* Additional global styles if needed */
body.sidebar-open {
  overflow: hidden; /* Ensure body doesn't scroll when sidebar is open */
}

/* Global CSS */
.fa {
  font-size: 1rem !important; /* Set a default size for all Font Awesome icons */
}

/* Add this to your global CSS or in a module.css file */
/* Global or Component CSS */
.icon-size {
  font-size: 0.8rem; /* Adjust this size as needed */
  line-height: 1; /* Ensure consistent height */
  transition: font-size 0.3s ease;
}

/* Ensure that the card maintains its layout on hover */
.card {
  transition: transform 0.3s ease-in-out; /* Smooth transition for card scaling */
}

/* Ensure that the image scales up on hover */
.card .card-image {
  transition: transform 0.3s ease-in-out; /* Smooth transition for image scaling */
}

.card:hover .card-image {
  transform: scale(1.15); /* Slightly scale up the image */
}

/* Ensure that the button scales up on hover */
.card .add-to-cart-button {
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Smooth transition for button scaling */
}

/* Card styling */
.card {
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for box-shadow */
}

.card:hover {
  box-shadow: 0 0 20px solid rgba(73, 73, 73, 0.274) !important;
}

/* Keyframes for fade-in and fade-out */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Wrapper for ProductCard */
.product-card-wrapper {
  position: relative;
  overflow: hidden;
}

.product-card-wrapper.fade-out {
  animation: fadeOut 0.3s forwards;
}

.product-card-wrapper.fade-in {
  animation: fadeIn 0.3s forwards;
}

/* globals.css or a specific CSS module */
.image-cover {
  object-fit: cover;
}
.objectFit {
  object-fit: cover;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  16% {
    transform: translateX(-5px);
  }
  33% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  66% {
    transform: translateX(5px);
  }
  83% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-shake {
  animation: shake 0.35s ease;
}

/* Remove the up/down arrows in number input (cross-browser) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  --moz-appearance: textfield;
}

input[type="text"]:-webkit-autofill,
input[type="email"]:-webkit-autofill,
input[type="password"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover,
input[type="email"]:-webkit-autofill:hover,
input[type="password"]:-webkit-autofill:hover,
input[type="text"]:-webkit-autofill:focus,
input[type="email"]:-webkit-autofill:focus,
input[type="password"]:-webkit-autofill:focus {
  border-color: var(--border-focus-color) !important;
  -webkit-text-fill-color: var(--border-color-dark) !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--text-color-dark) inset !important;
  transition: background-color 0s, border-color 0s, color 0s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  background-color: var(--text-color-dark) !important;
  border-color: var(--border-focus-color) !important;
  transition: background-color 0s, border-color 0s, color 0s;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: var(--text-color-dark) !important;
  color: var(--bg-color-dark) !important;
}

/* Theme Toggle Switch */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 54px;
  height: 29px;
  border-radius: 50%;
  cursor: pointer;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
  transition: background-color 0.4s ease;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  z-index: 2;
  background-color: var(--background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71) !important;
}

.sun svg {
  position: absolute;
  top: 3px;
  left: 29px;
  z-index: 1;
  width: 20px;
  height: 20px;
  fill: var(--secondary-foreground);
}

.moon svg {
  fill: var(--primary);
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;
  width: 20px;
  height: 20px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: var(--muted);
}

.input:focus + .slider {
  box-shadow: 0 0 1px var(--ring);
}

.input:checked + .slider:before {
  background-color: var(--accent-foreground);
  transform: translateX(25px);
}

/* globals.css */

/* Smooth transition for theme changes */
body {
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

/* Additional elements that need transitions */
.bg-transition {
  transition: background-color 300ms ease-in-out;
}

.text-transition {
  transition: color 300ms ease-in-out;
}

/* For other elements */
.transition-all {
  transition: all 300ms ease-in-out;
}

/* Dark mode specific */
.dark input::placeholder {
  color: #cbd0da; /* Dark mode placeholder color */
}

/* globals.css */
.fixed-container {
  position: fixed;
  top: 180px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content; /* Adjust width to fit the switch */
  height: 34px; /* Height of the switch */
  padding: 0px; /* Adjust padding if needed */
  animation: wave 2s infinite;
  z-index: 30;
  background-color: transparent;
  border-bottom-left-radius: 70px;
  border-top-left-radius: 70px;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.darkShadow {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7); /* Example shadow style */
}

.shadow-for-dark:hover {
  box-shadow: 0 2px 15px rgba(255, 255, 255, 0.12); /* Example shadow style */
}

.shadow-for-light:hover {
  box-shadow: 0 2px 10px rgba(39, 39, 39, 0.267); /* Example shadow style */
}

.border-for-dark {
  border: inset 1px solid rgba(177, 177, 177, 0.247);
}

/* In your global CSS file or relevant CSS module */

.placeholder-white {
  -webkit-text-fill-color: white; /* Apply text color in webkit browsers */
}

/* globals.css */

/* Keyframes for popup enter animation */
@keyframes popup-enter {
  from {
    opacity: 0;
    transform: translateY(50px); /* Slide in from below */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at its original position */
  }
}

/* Keyframes for popup exit animation */
@keyframes popup-exit {
  from {
    opacity: 1;
    transform: translateY(0); /* Start at its original position */
  }
  to {
    opacity: 0;
    transform: translateY(20px); /* Slide out to below */
  }
}

/* Apply slide and fade-in animation */
.popup-enter {
  animation: popup-enter 0.3s ease-out forwards;
}

/* Apply slide and fade-out animation */
.popup-exit {
  animation: popup-exit 0.3s ease-in forwards;
}

/* styles/globals.css or your CSS module */
.body-scroll-lock {
  overflow: hidden;
  position: fixed;
  width: 100%;
  padding-right: 16px;
}

/* styles/globals.css or your CSS module */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
  backdrop-filter: blur(10px); /* Apply blur effect */
  transition: opacity 300ms ease, pointer-events 300ms ease;
  z-index: 40; /* Make sure it sits on top of other content */
  opacity: 0;
  pointer-events: none; /* Disable interactions when hidden */
}

.backdrop-active {
  opacity: 1;
  pointer-events: auto; /* Enable interactions when visible */
}

.filter-div input[type="checkbox"]:checked:after {
  content: "\2713";
  color: white;
  position: absolute;
  padding-left: 3.8px;
}

.dark .filter-div input[type="checkbox"]:checked:after {
  content: "\2713";
  color: black;
  font-weight: bolder;
  position: absolute;
  padding-left: 3.8px;
}

.fixed-element .timer-bar {
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  height: 5px;
  width: 100%;
  animation: countdown 3s linear forwards;
  border-top-left-radius: 10px;
}

@keyframes countdown {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

/* Custom Scrollbar Styles */
/* Hide scrollbar for elements with .scrollbar-hide class */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Custom scrollbar for webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-foreground);
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: content-box;
  min-height: 40px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-foreground);
  opacity: 0.8;
}
